.App{
  width: 400px;
  height: 300px;
  text-align: center;
  margin-left: 450px;
  margin-top: 50px;
  box-shadow: 1px 1px 4px 4px  rgb(133, 128, 128);
}
.count{
  display: inline-block;
  margin-top: 60px;
}
.title{
  text-align: center;
  margin-top: 60px;
}